---
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
import FormattedDate from "@/components/FormattedDate.astro";
import { Icon } from "astro-icon/components";

const bgClasses = [
  "bg-pgreen rounded-full",
  "bg-pblue rounded-2xl",
  "bg-ppink ",
  "bg-pyellow rounded-md",
];

const getRandomClass = () => {
  return bgClasses[Math.floor(Math.random() * bgClasses.length)];
};
---
<section class="flex flex-col gap-12 py-20">
  <div class="text-center">
    <h2 class="text-4xl font-bold">MIS SERVICIOS</h2>
    <p class="text-pblack mt-4">
      Como diseñador gráfico, ofrezco una variedad de servicios, cada uno pensado para impulsar tu marca, desde la creacion de logos hasta la creacion de sitios web.
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-20">
    {
      [
          {
            icon: "paint",
            title: "Diseño de Logotipos",
            description: "Creación de logos únicos, adaptables y memorables, pensados para destacar en todos los formatos.",
          },
          {
            icon: "4",
            title: "Diseño de Flyers y Publicidad",
            description: "Piezas gráficas para redes, impresos o mailing: promociones, eventos, lanzamientos y más.",
        },
        {
          icon: "1",
          title: "Identidad Visual Completa",
          description: "Desarrollo integral de marca: logotipo, paleta de colores, tipografía, aplicaciones visuales y manual de marca.",
        },
        {
            icon: "3",
            title: "Menús Digitales y Impresos",
            description: "Diseño de cartas interactivas para bares, restaurantes y cafeterías, optimizadas para dispositivos móviles.",
          },
          {
            icon: "3",
            title: "Animaciones Gráficas",
            description: "Motion graphics para redes, presentaciones o videos institucionales.",
          },
          {
            icon: "web",
            title: "Diseño y Maquetación de Páginas Web Estáticas",
            description: "Sitios informativos responsive, modernos y optimizados para performance.",
          },
        ].map((service) => (
        <div class="rounded-3xl border-1 border-black shadow-card group hover:shadow-hover transition px-4 py-6 flex flex-col gap-6">
          <div
            class={`${getRandomClass()} text-4xl p-2 self-start border-1 border-black shadow-card1 group-hover:shadow-card transition`}
          >
            <Icon name={service.icon} />
          </div>
          <h4 class="text-xl font-semibold">{service.title}</h4>
          <p>{service.description}</p>
        </div>
      ))
    }
  </div>

  <div class="text-center">
    <h2 class="text-4xl font-bold">¿CÓMO HACER TU PEDIDO?</h2>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-16">
    {
      [
        {
          title: "Paso 1: Elegí tu Diseño",
          description: "Selecciona el tipo de diseño que necesitas:\n\nLogos, Flyers, Banners, Plantillas u otros diseños personalizados.\n\n¿No estás seguro? ¡Cuéntanos tu idea y te asesoraremos!",
        },{
          title: "Paso 2: Envíanos los Detalles",
          description: "Necesitamos:\n\n- El texto exacto que debe aparecer.\n- Imágenes o referencias (logos, fotos, etc.).",
        },{ 
          title: "Paso 3: Confirma y Recibe tu Diseño",
          description: "Tras recibir tus detalles:\n\n1.  Te pedimos el 50% para comenzar.\n2.  Te enviamos un boceto inicial.\n3.  Realizas ajustes o apruebas el diseño.\n4.  Con el diseño finalizado, abonas el 50% restante y recibes tu diseño."
        }
      ].map((item) => (
         <div class="rounded-3xl border-1 border-black shadow-card px-6 py-8 flex flex-col gap-4">
            <h3 class="text-xl font-semibold">{item.title}</h3>
            <p class="whitespace-pre-line text-sm">
              {item.description}
            </p>
          </div>
      ))
    }
  </div>

  <div class="text-center">
    <h2 class="text-4xl font-bold mb-6">Contáctame</h2>
    <a
      rel="noopener noreferrer"
      href="https://wa.me/5493834711120?text=%C2%A1Hola!%20Me%20gustar%C3%ADa%20solicitar%20un%20dise%C3%B1o"
      target="_blank"
      class="bg-pgreen px-8 py-4 border-1 border-black rounded-lg shadow-card hover:shadow-hover transition text-lg font-medium"
    >
      Trabajemos Juntos
    </a>
  </div>
</section>
